@{
    Layout = "~/Views/Shared/layau2.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


    <title>HDUA</title>
    <style>
        body {
            background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }

    </style>
</head>

<body>

    <div class="row mt-5">
        <div class="col d-flex justify-content-end align-items-end">
            <h3>___________________________</h3>
        </div>

        <div class="col d-flex justify-content-center align-items-center" style="background-color: rgba(128, 128, 128, 0.5);">
            <h3 class="panel-heading"><samp>GESTIÓN DE MUESTRAS</samp></h3>
        </div>

        <div class="col d-flex justify-content-start align-items-start">
            <h3>___________________________</h3>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 border border-black">
                <div class="col d-flex justify-content-center align-items-center flex-column">
                    <form>
                        <div class="row-md-auto mt-5 text-center">
                            <input type="text" class="form-control rounded-pill border border-dark" placeholder="Nombre científico" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>

                        <div class="row-md-auto mt-3 text-center">
                            <a href="@Url.Action("", "")" class="btn btn-outline-light btn-sm" style="color: lightgray;"><samp>Buscar</samp></a>
                        </div>

                        <div class="row-md-auto mt-5 text-center">
                            <img src="~/img/muestra.jpg" class="img-thumbnail" alt="" style="width: 120px; height: 150px;">
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-md-6 border border-black">
                <div class="col mt-5 d-flex justify-content-center align-items-center flex-column">
                    <div class="row-md-auto text-center">
                        <img src="~/img/añadir.png" alt="Ícono" width="100" height="100">
                    </div>
                    <div class="row-md-auto text-center">
                        <a href="@Url.Action("", "")" class="btn btn-outline-light" style="display: block; margin: 0 auto; color: lightgray" data-bs-toggle="modal" data-bs-target="#modalAñadirMuestra">
                            <samp>Añadir muestra</samp>
                        </a>
                    </div>
                </div>

                <div class="col mt-5 d-flex justify-content-center align-items-center flex-row">
                    <div class="col-md-auto text-center mx-5">
                        <img src="~/img/flechatras2.png" alt="Ícono" width="100" height="100">
                        <a href="@Url.Action("Principal", "Admin")" class="btn btn-outline-light" style="display: block; margin: 0 auto; color: lightgray">
                            <samp>Volver</samp>
                        </a>
                    </div>

                    <div class="col-md-auto text-center mx-5">
                        <img src="~/img/añadirc.png" alt="Ícono" width="100" height="100">
                        <a href="#" class="btn btn-outline-light" style="display: block; margin: 0 auto; color: lightgray" data-bs-toggle="modal" data-bs-target="#modalAñadirParametros">
                            <samp>Agregar parámetros</samp>
                        </a>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <div class="modal fade mt-5" id="modalAñadirMuestra" tabindex="-1" aria-labelledby="modalAñadirMuestraLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAñadirMuestraLabel"><samp>Añadir Muestra</samp></h5>
                    <button type="button" class="btn btn-outline-danger ms-auto" id="cerrarHistoria" data-bs-dismiss="modal" aria-label="Close"><samp>X</samp></button>
                </div>

                <div class="modal-body" style="background-color: #C2E6D6">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
                        <div class="carousel-inner ">
                            <form action="@Url.Action("CrearMuestra","Admin")" method="post" id="formulario" enctype="multipart/form-data">
                                <!-- Parte 1 -->
                                <div class="carousel-item active">
                                    <div class="container">
                                        <div class="row">

                                            <h3 class="d-flex justify-content-center align-items-center"><samp>Generalidades</samp></h3>

                                            <div class="col me-5 ms-5">
                                                <div class="row mt-3">
                                                    <input type="text" class="form-control" placeholder="Nombre científico" oninput="this.value = this.value.toUpperCase()" id="cientifico" name="cientifico">
                                                </div>
                                                <div class="row mt-3">
                                                    <input type="text" class="form-control" placeholder="Nombre vulgar" oninput="this.value = this.value.toUpperCase()" id="vulgar" name="vulgar">
                                                </div>
                                                @* INSERTAR IMAGEN *@
                                                <div class="row mt-3">
                                                    <label for="formFile" class="form-label"><samp>Seleccionar imágen de muestra</samp></label>
                                                    <input class="form-control" type="file" accept="image/*" id="formFile" name="File">
                                                </div>

                                                <div class="row mt-3">
                                                    <label for="formFile" class="form-label"><samp>Fecha recolección</samp></label>
                                                    <input type="date" class="form-control" id="fecharecolecccion" name="fecharecolecccion">
                                                </div>
                                            </div>

                                            <div class="col me-5 ms-5">
                                                <div class="row mt-3">
                                                    <select class="form-select" id="venacion" name="venacion">
                                                        <option value="Seleccione">Tipo venación</option>
                                                        @foreach (String i in @ViewBag.ltv)
                                                        {
                                                            <option>
                                                                @i
                                                            </option>
                                                        }
                                                    </select>
                                                </div>

                                                <div class="row mt-3">
                                                    <select class="form-select" id="forma" name="forma">
                                                        <option value="Seleccione">Tipo forma</option>
                                                        @foreach (String i in @ViewBag.ltf)
                                                        {
                                                            <option>
                                                                @i
                                                            </option>
                                                        }
                                                    </select>
                                                </div>
                                            
                                                <div class="row mt-3">
                                                    <select class="form-select" id="margen" name="margen">
                                                        <option value="Seleccione">Tipo margen</option>
                                                        @foreach (String i in @ViewBag.ltm)
                                                        {
                                                            <option>
                                                                @i
                                                            </option>
                                                        }
                                                    </select>
                                                </div>
                                            
                                                <div class="row mt-3">
                                                    <select class="form-select" id="procedencia" name="procedencia">
                                                        <option value="Seleccione">Procedencia</option>
                                                        @foreach (String i in @ViewBag.ltp)
                                                        {
                                                            <option>
                                                                @i
                                                            </option>
                                                        }
                                                    </select>
                                                </div>
                                            
                                                <div class="row mt-3">
                                                    <input type="number" class="form-control" min="1" max="100" placeholder="Altura de la procedencia" id="altura" name="altura">
                                                </div>

                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Parte 2 -->
                                <div class="carousel-item">
                                    <div class="container">
                                        <div class="row">

                                            <h3 class="d-flex justify-content-center align-items-center"><samp>Especificaciones</samp></h3>
                                        
                                            <div class="col me-5 ms-5">
                                                <div class="row mt-3">
                                                    <select class="form-select" id="clase" name="clase">
                                                        <option value="Seleccione">Clase</option>
                                                        @foreach (String i in @ViewBag.ltc)
                                                        {
                                                            <option>
                                                                @i
                                                            </option>
                                                        }
                                                    </select>
                                                </div>

                                                <div class="row mt-3">
                                                    <select class="form-select" id="especie" name="especie">
                                                        <option value="Seleccione">Especie</option>
                                                        @foreach (String i in @ViewBag.lte)
                                                        {
                                                            <option>
                                                                @i
                                                            </option>
                                                        }
                                                    </select>
                                                </div>

                                                <div class="row mt-3">
                                                    <select class="form-select" id="genero" name="genero">
                                                        <option value="Seleccione">Género</option>
                                                        @foreach (String i in @ViewBag.ltg)
                                                        {
                                                            <option>
                                                                @i
                                                            </option>
                                                        }
                                                    </select>
                                                </div>

                                                <div class="row mt-3">
                                                    <select id="departmentSelect" class="form-select" name="departmentSelect">
                                                        <option value="Seleccione">Departamento</option>
                                                        @foreach (String i in @ViewBag.ldep)
                                                        {
                                                            <option>
                                                                @i
                                                            </option>
                                                        }
                                                    </select>
                                                </div>

                                                <div class="row mt-3">
                                                    <select id="municipioSelect" class="form-select" name="municipioSelect">
                                                        <option selected>Municipio</option>
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="col me-5 ms-5">
                                                <div class="row mt-3">
                                                    <select class="form-select" id="orden" name="orden">
                                                        <option value="Seleccione">Orden</option>
                                                        @foreach (String i in @ViewBag.lto)
                                                        {
                                                            <option>
                                                                @i
                                                            </option>
                                                        }
                                                    </select>
                                                </div>

                                                <div class="row mt-3">
                                                    <select class="form-select" id="familia" name="familia">
                                                        <option value="Seleccione">Familia</option>
                                                        @foreach (String i in @ViewBag.ltfami)
                                                        {
                                                            <option>
                                                                @i
                                                            </option>
                                                        }
                                                    </select>
                                                </div>

                                                <div class="row mt-3">
                                                    <select class="form-select" id="tipoUbicacionSelect" name="tipoUbicacionSelect">
                                                        <option selected>Tipo ubicación</option>
                                                    </select>
                                                </div>

                                                <div class="row mt-3">
                                                    <select class="form-select" id="ubicacionSelect" name="ubicacionSelect">
                                                        <option selected>Ubicación</option>
                                                    </select>
                                                </div>

                                                <div class="row mt-3">
                                                    <input type="text" class="form-control" id="coordenadasInput" name="coordenadasInput" placeholder="Coordenadas (Ejemplo: 51°30'N 0°7'W)">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- Parte 3 -->
                                <div class="carousel-item">
                                    <div class="container">

                                        <h3 class="d-flex justify-content-center align-items-center"><samp>Asociar recolectores</samp></h3>
                                        
                                    
                                        <div class="row mt-3 ms-5 justify-content-end">
                                            <div class="col-auto">
                                                <button type="button" class="btn btn-link btn-buscar" id="buscarbtn">
                                                    <i class='bx bx-search-alt' style="font-size: 1.5rem;"></i>
                                                </button>
                                                
                                            </div>
                                            <div class="col-auto">
                                                <input type="text" class="form-control" id="buscar-recolector" placeholder="Buscar recolector">
                                            </div>
                                        </div>

                                        <table id="tabla-recolectores" class="table table-striped table-hover mt-3">
                                            <thead>
                                                <tr>
                                                    <th scope="col"><samp>Nombre</samp></th>
                                                    <th scope="col"><samp>Muestras ligadas</samp></th>
                                                    <th scope="col"><samp>Seleccionar</samp></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (RecolectorModel i in ViewBag.mostrarrecolector)
                                                {
                                                    <tr>
                                                        <td>@i.Nombre</td>
                                                        <td>@i.Cantidad</td>
                                                        <td>
                                                            <input type="checkbox" name="usuariosSeleccionados" value="@i.Id" />
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Controles del carrusel -->
                        <button class="carousel-control-prev btn btn-outline-success me-5" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next btn btn-outline-success ms-5" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>



                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><samp>Cancelar</samp></button>
                    <button type="submit" class="btn btn-outline-success" form="formulario"><samp>Finalizar</samp></button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade mt-5" id="modalAñadirParametros" tabindex="-1" aria-labelledby="modalAñadirParametrosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAñadirParametrosLabel">Añadir parámetros</h5>
                <button type="button" class="btn btn-outline-danger ms-auto" id="cerrarAP" data-bs-dismiss="modal" aria-label="Close"><samp>X</samp></button>
            </div>
            <div class="modal-body" style="background-color: #C2E6D6">
                <div class="row">
                    <!-- Formulario Características -->
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <form id="formCaracteristicas" action="@Url.Action("CrearParameros","Admin")" method="post">
                            <h5 class="text-center">Características</h5>
                            <div class="mb-3">
                                <label for="selectCaracteristica" class="form-label">Seleccione una característica</label>
                                <select class="form-select" id="selectCaracteristica" name="selectCaracteristica">
                                    <option selected>Seleccionar opción</option>
                                    <option>Clase</option>
                                    <option>Orden</option>
                                    <option>Familia</option>
                                    <option>Genero</option>
                                    <option>Especie</option>
                                    <option>Tipo de ubicación</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="inputCaracteristica" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="inputCaracteristica" name="inputCaracteristica" placeholder="Ingrese el nombre...">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                    <!-- Formulario Ubicación -->
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <form id="formUbicacion" action="@Url.Action("CrearUbicacion","Admin")" method="post">
                            <h5 class="text-center">Ubicación</h5>
                            <div class="mb-3">
                                <label for="selectDepartamento" class="form-label">Departamento</label>
                                <select id="departmentSelect2" class="form-select" name="departmentSelect2">
                                    <option value="Seleccione">Seleccionar departamento</option>
                                    @foreach (String i in @ViewBag.ldep)
                                    {
                                        <option>
                                            @i
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="selectMunicipio" class="form-label">Municipio</label>
                                <select id="municipioSelect2" class="form-select" name="municipioSelect2">
                                    <option selected>-</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="selectTipoUbicacion" class="form-label">Tipo de Ubicación</label>
                                <select class="form-select" id="selectTipoUbicacion" name="selectTipoUbicacion">
                                    <option value="Seleccione">Seleccionar tipo</option>
                                    @foreach (String i in @ViewBag.ltipoubi2)
                                    {
                                        <option>
                                            @i
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="inputUbicacion" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="inputUbicacion" name="inputUbicacion" placeholder="Ingrese el nombre...">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><samp>Cancelar</samp></button>
            </div>
        </div>
    </div>
</div>


    <script>
        $(document).ready(function () {
            $('#departmentSelect').change(function () {
                var departamentoSeleccionado = $(this).val();
                if (departamentoSeleccionado !== 'Seleccione') {
                    $.ajax({
                        url: "@Url.Action("ObtenerMunicipiosPorDepartamento", "Admin")",
                        type: 'POST',
                        data: { nombreDepartamento: departamentoSeleccionado },
                        success: function (data) {
                            $('#municipioSelect').empty();
                            $('#municipioSelect').append('<option>' + "Seleccione municipio" + '</option>');
                            $.each(data, function (index, municipio) {
                                $('#municipioSelect').append('<option>' + municipio + '</option>');
                            });
                        }
                    });
                }
            });
        });

        $(document).ready(function () {
            $('#municipioSelect').change(function () {
                var municipioSeleccionado = $(this).val();
                if (municipioSeleccionado !== 'Seleccione') {
                    $.ajax({
                        url: "@Url.Action("ObtenerTiposUbicacionPorMunicipio", "Admin")",
                        type: 'POST',
                        data: { nombreMunicipio: municipioSeleccionado },
                        success: function (data) {
                            $('#tipoUbicacionSelect').empty();
                            $('#tipoUbicacionSelect').append('<option>' + "Seleccione el tipo de ubicación" + '</option>');
                            $.each(data, function (index, tipoUbicacion) {
                                $('#tipoUbicacionSelect').append('<option>' + tipoUbicacion + '</option>');
                            });
                        }
                    });
                }
            });
        });

        $(document).ready(function () {
            $('#tipoUbicacionSelect').change(function () {
                var tipoSeleccionado = $('#tipoUbicacionSelect').val();
                var municipioSeleccionado = $('#municipioSelect').val();
                $.ajax({
                    url: "@Url.Action("ObtenerUbicacionesPorTipoYMunicipio", "Admin")",
                    type: 'POST',
                    data: { nombreTipo: tipoSeleccionado, nombreMunicipio: municipioSeleccionado },
                    success: function (data) {
                        $('#ubicacionSelect').empty();
                        $('#ubicacionSelect').append('<option>' + "Seleccione ubicación" + '</option>');
                        $.each(data, function (index, ubicacion) {
                            $('#ubicacionSelect').append('<option>' + ubicacion + '</option>');
                        });
                    }
                });
            });
        });

        const coordenadasInput = document.getElementById('coordenadasInput');

        coordenadasInput.addEventListener('input', function () {
            const coordenadas = this.value.trim();
            const pattern = /^-?\d{1,2}°\d{1,2}'[NSEW]\s*-?\d{1,3}°\d{1,2}'[NSEW]$/;

            if (!pattern.test(coordenadas)) {
                this.setCustomValidity('El formato de coordenadas es incorrecto. Por favor, ingresa las coordenadas en el formato correcto, por ejemplo, 51°30\'N 0°7\'W');
            } else {
                this.setCustomValidity('');
            }
        });

        $(document).ready(function () {
            $('#buscarbtn').click(function () {
                var inputText = $('#buscar-recolector').val().trim().toLowerCase();
                $('#tabla-recolectores tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(inputText) > -1);
                });
            });
        });

        $(document).ready(function () {
            $('#guardar-recolectores').click(function () {
                var recolectoresSeleccionados = [];
                $('.checkbox-recolector:checked').each(function () {
                    var idRecolector = $(this).val();
                    recolectoresSeleccionados.push(idRecolector);
                });

                // Imprime los IDs de recolectores seleccionados en la consola
                console.log('Recolectores seleccionados:', recolectoresSeleccionados);
            });
        });

        $(document).ready(function () {
            $('#departmentSelect2').change(function () {
                var departamentoSeleccionado = $(this).val();
                if (departamentoSeleccionado !== 'Seleccione') {
                    $.ajax({
                        url: "@Url.Action("ObtenerMunicipiosPorDepartamento", "Admin")",
                        type: 'POST',
                        data: { nombreDepartamento: departamentoSeleccionado },
                        success: function (data) {
                            $('#municipioSelect2').empty();
                            $('#municipioSelect2').append('<option>' + "Seleccione municipio" + '</option>');
                            $.each(data, function (index, municipio) {
                                $('#municipioSelect2').append('<option>' + municipio + '</option>');
                            });
                        }
                    });
                }
            });
        });
    </script>

</body>
</html>
