@model List<MuestraModel>
@{
    ViewData["Title"] = "Resultado";
    Layout = "~/Views/Shared/layau2.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <title>HDUA</title>
    <style>
        body {
            background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }

    </style>
</head>

<body>

    <div class="row mt-5">
        <div class="col d-flex justify-content-end align-items-end">
            <h3>___________________________</h3>
        </div>

        <div class="col d-flex justify-content-center align-items-center" style="background-color: rgba(128, 128, 128, 0.5);">
            <h3 class="panel-heading"><samp>RESULTADOS DE LA BÚSQUEDA</samp></h3>
        </div>

        <div class="col d-flex justify-content-start align-items-start">
            <h3>___________________________</h3>
        </div>
    </div>

    <!--................................................................-->
    <samp>
        <div class="row row-cols-auto " style="justify-content:center;">

            @foreach (MuestraModel m in Model)
            {
                <div class="col mt-5">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body text-center">
                            @if (!string.IsNullOrEmpty(m.Cientifico))
                            {
                                <h5 class="card-title">@m.Cientifico</h5>
                            }
                            else if (!string.IsNullOrEmpty(m.Vulgar))
                            {
                                <h5 class="card-title">@m.Vulgar</h5>
                            }
                        </div>

                        <img src="data:image/jpg; base64, @m.Imagen2.Imagen" class="card-img-top" style="height:15rem; object-fit: contain;">
                        <div class="card-footer text-center">
                            <form id="formFichaMuestra" method="post" action="@Url.Action("FichaMuestra", "Principal")">
                                <input type="hidden" id="idMuestra" name="id" value="@m.Id" />
                                <button type="submit" class="btn btn-outline-success btn-auto">Ver ficha técnica</button>
                            </form>
                        </div>

                    </div>
                </div>

            }

        </div>
    </samp>

    <!--................................................................-->
    <div class="col d-flex justify-content-center align-items-center flex-column">
        <div class="row-md-auto text-center">
            <img src="~/img/flechatras.png" alt="Ícono" width="50" height="50">
        </div>
        <div class="row-md-auto text-center">
            <a href="@Url.Action("Principal", "Principal")" class="btn btn-outline-light" style="display: block; margin: 0 auto; color: lightgray">Volver a buscar</a>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#verFichaBtn').click(function (e) {
                e.preventDefault(); // Evitar que se ejecute el comportamiento predeterminado del enlace
                $('#formFichaMuestra').submit(); // Enviar el formulario
            });
        });
    </script>


</body>


</html>

